.container {
  position: relative;
  display: block;
  width: fit-content;
}

.quantity {
  background: var(--orange);
  display: inline-block;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translateX(-100%) translateY(-50%);

  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  user-select: none;
}

ul.notificationsList {
  position: absolute;
  list-style: none;
  visibility: hidden;

  // top: 50%;
  // right: -12px;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translateX(-100%);
  width: max-content;

  opacity: 0;
  background: #fff;
  border-radius: 10px;
  color: #626679;
  padding: 0;
  box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.3);

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;

  transition: background 0.2s, opacity 0.2s, transform 0.1s;

  &[data-notifications-list-align='right'] {
    transform: translateX(0%);
  }

  &[data-is-notificationslist-showed='true'] {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  li {
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 14px;

    &:first-child {
      // padding-top: 8px;
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      // padding-bottom: 8px;
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background: #eff1f9bb;
    }
  }
}

button.notification {
  background: none;
  border: none;
}
