.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 1;
  width: 100%;
  height: min-content;

  @media (max-width: 960px) {
    flex-direction: column;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
      font-size: 36px;
      line-height: 47px;

      @media (max-width: 480px) {
        font-size: 28px;
        line-height: 36px;
      }
    }

    h2 {
      font-size: 18px;
      line-height: 23px;

      color: #fea051;
    }
  }

  .divider {
    width: 100%;
    border-bottom: 2px solid black;
  }

  a {
    line-height: 47px;
    font-weight: 700;
    font-size: 24px;
    //line-height: 31px;
    color: #373737;

    &:hover {
      text-decoration-line: underline;
      color: #000;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
      line-height: 3rem;
    }
  }
}
